@import '../variables';

:host {
  align-items: center;
  background-color: $color-green-1;
  display: flex;
  padding-right: 40px;
}

.title-section {
  min-width: 270px;
  text-align: center;
  width: 270px;
}

.logo {
  margin-bottom: 4px;
}

.title-hint {
  color: #fff;
}

.search-input-label {
  margin-right: 20px;
  position: relative;
  width: 100%;

  &::before {
    background-image: url('../../assets/icons/icon--search.svg');
    content: '';
    display: block;
    height: 16px;
    left: 19px;
    position: absolute;
    top: 17px;
    width: 16px;
  }
}

.search-input {
  background-color: $color-green-2;
  border-radius: 2px;
  border-style: none;
  color: $color-gray;
  height: 50px;
  padding-left: 50px;
  padding-right: 20px;
  transition: background-color 0.2s ease-out;
  width: 100%;

  &:focus {
    background-color: #fff;
  }

  &::placeholder {
    color: $color-green-3;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.user-icon {
  background-color: $color-green-2;
  background-image: url('../../assets/icons/icon--user.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 45px;
  border-style: none;
  height: 45px;
  min-width: 45px;
  width: 45px;
}

.menu-button {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  height: 50px;
  min-width: 50px;
  position: relative;
  width: 50px;

  &::before {
    background-color: #fff;
    content: '';
    height: 50px;
    left: 0;
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-out;
    width: 50px;
  }

  &:hover::before {
    background-color: $color-green-3;
  }

  &--menu::before {
    mask-image: url('../../assets/icons/icon--menu.svg');
    mask-size: 16px 16px;
  }

  &--other::before {
    mask-image: url('../../assets/icons/icon--other.svg');
    mask-size: 4px 16px;
  }
}
