@import '../variables';

:host {
  background-color: $color-green-1;
  border-radius: 2px;
  padding-left: 20px;
}

.header {
  display: flex;
}

.left {
  padding-top: 20px;
}

.title {
  color: #fff;
}

.range {
  align-items: center;
  color: $color-green-3;
  display: flex;
  margin-top: 4px;

  &::after {
    content: '';
    display: block;
    height: 3px;
    margin-left: 6px;
    mask-image: url('../../assets/arrow--bottom.svg');
    mask-size: 6px 3px;
    width: 6px;
  }

  &:hover {
    color: #fff;
  }
}

.options-button {
  margin-left: auto;
}

.chart {
  height: 100px;
  width: 100%;
}

.chart-canvas {
  position: absolute;
}

.more {
  margin-left: auto;
}
