@import '../variables';

:host {
  background-color: #fff;
  border-radius: 2px;
}

.header {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
}

.other {
  margin-left: auto;
}

.title {
  color: $color-green-1;
}

.table-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.table {
  width: 100%;
}

.table-head-row {
  border-bottom: 1px solid $color-gray-2;
  height: 30px;
}

.table-head-cell {
  color: $color-gray-2;
  font-size: 10px;
  text-align: left;
  vertical-align: middle;
}

.table-row {
  border-bottom: 1px solid $color-gray-2;
  height: 40px;
}

.table-cell {
  color: $color-gray;
  font-size: 12px;
  vertical-align: middle;
}

.table-link {
  color: $color-green-1;
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    color: $color-green-3;
  }
}
